/* TODO:
- add a left margin of 25px and a right margin of 25px to the body tag */

/* TODO: h1 header
- change the h1 header to all capital letters 
- add a top and bottom margin of 20px
hint: https://www.w3schools.com/cssref/pr_text_text-transform.asp*/ 

/* TODO: img
- make the Udacity logo only half the width of the screen
hint: https://www.w3schools.com/css/css_dimension.asp
*/

/* TODO: Udacity link 
- make the Udacity link on its own line instead of next to the image
- give the link a top and bottom margin of 20px
- remove the underline
- increase the font to 45px
- change the font color to gray
hint: the block value might be of interest
https://www.w3schools.com/cssref/pr_class_display.asp
hint: make sure to specify the Udacity link using the id; otherwise all links will be styled like the Udacity link
*/

/* TODO: Udacity link 
- make the Udacity link on its own line instead of next to the image
- give the link a top and bottom margin of 20px
- remove the underline
- increase the font to 45px
- change the font color to gray
hint: the block value might be of interest
https://www.w3schools.com/cssref/pr_class_display.asp
hint: make sure to specify the Udacity link using the id; otherwise all links will be styled like the Udacity link
*/


/* TODO: Div main-content id
- change the font of all elements inside the #main-content div to helvetica
hint: https://www.w3schools.com/cssref/pr_font_font-family.asp
*/

/* TODO: bold-paragraph class
- for the paragraphs with the bold-paragraph class, make the text bold
*/

/* TODO: table
- draw a black border around the td elements in the table
hint: https://www.w3schools.com/css/css_border.asp
*/